DATABASE_URL="your database url"
POSTGRES_USERNAME="your postgres username"
POSTGRES_PASSWORD="your postgres password"
DB_NAME="your postgres db name"
REDIS_HOST="your redis host"
REDIS_PORT="your redis port"